<script type="text/javascript" src="jquery-1.11.0.js" ></script>
<script type="text/javascript">

    var sock = null;

    var wsuri = "ws://localhost:9999";



    window.onload = function() {



        console.log("onload");



        sock = new WebSocket(wsuri);



        sock.onopen = function() {

            console.log("connected to " + wsuri);

        }



        sock.onclose = function(e) {

            console.log("connection closed (" + e.code + ")");

        }



        sock.onmessage = function(e) {
            $('.ps').append(e.data+"</br>");
            console.log("message received: " + e.data);

        }

    };



    function send() {

        var msg = document.getElementById('message').value;

        sock.send(msg);

    };

</script>

<h1>WebSocket Echo Test</h1>

<form>

    <p>

        Message: <input id="message" type="text" value="#Hello, world!">

    </p>

</form>
<div style='width:100px,height:200px,border:1px solid #35451b'>
    <p class="ps"></p>
</div>

<button onclick="send();">Send Message</button>