<!DOCTYPE html>
<html>
<head>
    <title>个人中心</title>
    <meta charset="UTF-8"/>
</head>
<body>

</body>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            headers:{
                "token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX25hbWUiOiLmlrDkurpfMDA4NTE2SkoiLCJleHAiOjE1OTk3MTgzNzB9.5yu_EJr9NRZ9TrlE8N1DrixBmU-JSQo-nlfmC1xRNUo",
            },
            url:'http://localhost:8090/mini/user/login/',
            type:'post',
            success:function(res){
                console.log(res)
                alert(res)
                $('p').html();
            },
            error:function (res){
                console.log(res)
            }
        });
    });
</script>

</html>
