<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <p class="title"></p>
    <ul class="content"></ul>
</div>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function()
    {
        $.ajax({
            headers:{
                "token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX25hbWUiOiLmlrDkurpfMDA4NTE2SkoiLCJleHAiOjE1OTk3NzkxMjN9.F2eRflcNT57n18w3WsPBJFdESP12CraGPMiWr9rAWGw",
            },
            url:'http://wtthappy.xyz/miniProgram/index/list?page=1',
            type:'get',
            success: function (res) {
                // console.log(res)
                var str = ''
                for(let i=0;i<res.data.length;i++) {
                    // console.log(res.data[i].content)
                    str = `<br>${res.data[i].title}
                            <br>${res.data[i].content}</br>
                            <br>${res.data[i].index_img}</br>
                            <br>${res.data[i].user_name}</br>
                            </br>`
                }
                $(".content").html(str)
                $(".title").text(res.data[0].title)

            },
            error:function (res){
                console.log(res)
            }
        });
    });
</script>
</body>
</html>
