html{
    width: 100%;
    height: 100%;
}
body {
    background-color: #4A374A;
    width: 100%;
    height: 100%;
    margin: 0;
}

span style{
    font-size:14px;
}

.input_class {  /*设置class属性名称为input_class的标签内容*/
     width:250px;
     height:16px;
}

caption{        /*设置caption标签内容*/
    font-size:30px;
    color: #000000;
    text-shadow: #06d7de 6px 0px 5px;
    font-stretch: wider;
    font-weight: 900;
}
.button {
    display: flex;
    justify-content: space-around;
}
.aaa{          /*设置class属性名称为aaa的标签内容*/
    width: 150px;
    min-height: 20px;
    display: block;
    background-color: #4a77d4;
    border: 1px solid #3762bc;
    color: #ffffff;
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    border-radius: 5px;
    margin: 0;
}

.fontColor {
    color: #fff
}