<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="login.css"/>
    <!--引入外部的js文件-->
    <script>
        var storage = window.sessionStorage;
        storage.setItem('domain_name', "http://wtthappy.xyz");
        // storage.setItem('domain_name', "http://127.0.0.1:8090");
    </script>
</head>
<body>
<div>
    <p class="title"></p>
    <ul class="content"></ul>
</div>
<div id="login">
    <h1>Login</h1>
    <form method="post">
        <input type="text" required="required" placeholder="用户名" id="user_name" name="u"></input>
        <input type="password" required="required" placeholder="密码" id="password" name="p"></input>
        <button class="but" type="button" onclick="login()" >登录</button>
    </form>
</div>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="./login.js" ></script>

</body>
</html>
