<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <title>Document</title>
    <div class="search">
        <input type="text" placeholder="请输入..." name="" id="" value="" />
        <button class="button">
            <i >搜索</i>
        </button>
        <button class="button">
            <a href="../list/list.html">新增</a>
        </button>
    </div>
</head>
<body>
<ul class="user">
    <li class="user_logout">
    </li>
    <li >
        <a href="../login/login.html">切换帐号</a>
    </li>
    <li >
        <a href="../login/login.html">退出</a>
    </li>
</ul>
<div>
    <table  border="1" cellpadding="10" cellspacing="10" class="first" >
    </table>
</div>
<!--鼠标特效-->
<script src="https://blog-static.cnblogs.com/files/ophxc/shubiao.js"></script>
<canvas width="1777" height="841" style="position: fixed; left: 0px; top: 0px; z-index: 2147483647; pointer-events: none;"></canvas>
<!--鼠标特效 end-->
<!-- Music-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.0/dist/APlayer.min.css">
<script src="https://blog-static.cnblogs.com/files/zouwangblog/APlayer.min.js"></script>
<script src="https://unpkg.com/meting@1.2/dist/Meting.min.js"></script>
<div id="player" class="aplayer aplayer-withlist aplayer-fixed" data-id="2878443703" data-server="netease" data-type="playlist" data-order="random" data-fixed="true" data-listfolded="true" data-theme="orange"></div>
<!-- Music end -->
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="./index.js" ></script>
<script>
    $(document).ready(function() {
        Index()
        UserMsg()
    });</script>
</body>
</html>
